div 
    h3 Login Form
    form(action='/login', method='POST')
        p 
            input.form-control(name='email', type='text', placeholder='name@example.com')
        p 
            input.form-control(name='password', type='password', placeholder='***')
        p
            button(type='submit') Login